body {
    background-color: lightpink;
}

.quote {
    font: 400 72px Helvetica, sans-serif;
    color: blueviolet;
    text-align: center;
}

.post-title {
    color: black;
}

.row{
    padding: 2%;
}

